section( class="contact" )
  div( class="container-fluid contact__container" )
    div( class="row contact__row" )
      div( class="col-12 col-md-9 col-xl-6" )
        form( class="contact__form form-contact", action="#", method="post", novalidate  )
          span( class="c form-contact__c" ) Contact Me
          h1( class="h h--2 form-contact__h" ) Let's build something together... Get in touch with me. 
          p( class="p form-contact__p" ) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque tempor, malesuada adipiscing congue diam. Quis orci amet porttitor
          div( class="form-contact__wrap" )
            label( class="l form-contact__l", for="input-name" ) Name 
              input( class="i form-contact__i", id="input-name", name="name", type="text", placeholder="James Robert", pattern="[a-zA-Z]+ [a-zA-Z]+", required )
              span( class="error form-contact__error", aria-live="polite")
            label( class="l form-contact__l", for="input-email" ) E-mail
              input( class="i form-contact__i", id="input-email", name="email", type="email", placeholder="Jamesrobert@Finsweet.com", required )
              span( class="error form-contact__error", aria-live="polite")
            label( class="l form-contact__l", for="input-subject" ) Subject
              input( class="i form-contact__i", id="input-subject", name="subject", type="text", placeholder="For web design work Enquire", minlength="10" )
              span( class="error form-contact__error", aria-live="polite")
          label( class="l form-contact__l", for="input-message" ) Message
          textarea( class="i form-contact__textarea", id="input-message", name="message", placeholder="Type your Message" )
          button( class="b form-contact__b", type="submit" ) Submit