extends ../_layouts/defaults.pug

block append variables 
  - 
    title = 'Client-first Template 4 - Contact page';

block header 
  include ../_sections/header/header.pug

block main 
  include ../_sections/contact/contact.pug

block footer 
  include ../_sections/footer/footer.pug