//- Выводит навигацию
mixin navigation( mod, navList )
  ul( class=`nav__list ${mod}__list` )
    each item in navList 
      li( class=`nav__item ${mod}__item` )
        a( class=`nav__link ${mod}__link`, href=item.href )=item.inner