include ../../_ui/svg/svg.pug
include ../../_ui/navigation/navigation.pug

footer( class="footer" )
  div( class="container-fluid footer__container" )
    div( class="row footer__top top-footer" )
      div( class="col-12 col-md-5 col-lg-6 top-footer__col" )
        h2( class="h h--2 footer__h" ) Have an idea? I can help you to Start your project
        p( class="p p--large footer__p" ) Say hello to me 👋
        a( class="h h--3 footer__email", href="mailto:james@finsweet.com", title="james@finsweet.com" ) james@finsweet.com
      div( class="col-12 col-md-6 col-lg-5 top-footer__col" )
        div( class="footer__info info-footer" )
          div( class="info-footer__img-wrap" )
            picture 
              source(
                type="image/webp", 
                srcset="assets/img/footer/i-1@2x.webp 2x, assets/img/footer/i-1@1x.webp 1x"
              )
              source(
                type="image/jpg", 
                srcset="assets/img/footer/i-1@2x.png 2x, assets/img/footer/i-1@1x.png 1x"
              )
              img( class="info-footer__img", src="assets/img/footer/i-1@1x.png", alt="My photo")
          div( class="info-footer__wrap" )
            h3( class="h h--3 info-footer__name" ) James Robertson
            span( class="p p--large info-footer__job" ) Webflow Developer
        ul( class="footer__social social-footer" )
            li( class="social-footer__item" )
              a( class="a a--sm social-footer__link", href="#", title="Facebook" )
                +svg( 'facebook', 'social-footer__icon', '0 0 42 42' )
            li( class="social-footer__item" )
              a( class="a a--sm social-footer__link", href="#", title="Linkedin" )
                +svg( 'linkedin', 'social-footer__icon', '0 0 42 42' )
            li( class="social-footer__item" )
              a( class="a a--sm social-footer__link", href="#", title="Twitter" )
                +svg( 'twitter', 'social-footer__icon', '0 0 42 42' )
            li( class="social-footer__item" )
              a( class="a a--sm social-footer__link", href="#", title="Dribbble" )
                +svg( 'dribbble', 'social-footer__icon', '0 0 42 42' )
            li( class="social-footer__item" )
              a( class="a a--sm social-footer__link", href="#", title="Behance" )
                +svg( 'behance', 'social-footer__icon', '0 0 42 42' )
    div( class="row footer__bottom bottom-footer")
      div( class="col-md-5 bottom-footer__col" )
        p( class="p footer__copyright" ) © 2020 Finsweet. Powered by Webflow
      div( class="col-md-7 bottom-footer__col" )
        nav( class="nav footer__nav nav-footer" )
          +navigation( 'nav-footer', navList )
