section( class="qualifications")
  div( class="container-fluid qualifications__container" )
    div( class="row qualifications__row-one row-one-qualifications" )
      div( class="col-lg-3 row-one-qualifications__col" )
        span( class="c qualifications__c" ) Qualifications
        h2( class="h h--2 qualifications__h" ) My Education Background
      div( class="col-lg-7 row-one-qualifications__col" )
        ul( class="qualifications__list list-qualifications" )
            li( class="list-qualifications__item")
              h3( class="h h--3 list-qualifications__h" ) M.Des in Product Design
              h4( class="h h--4 list-qualifications__h-sub" ) National Institute of Design,
              p( class="p list-qualifications__p" ) Bengalur, India 2020-2022
            li( class="list-qualifications__item")
              h3( class="h h--3 list-qualifications__h" ) B.Tech in Computer Science
              h4( class="h h--4 list-qualifications__h-sub" ) National Institute of Design,
              p( class="p list-qualifications__p" ) Bengalur, India 2016-2020
            li( class="list-qualifications__item")
              h3( class="h h--3 list-qualifications__h" ) Schools Certificate
              h4( class="h h--4 list-qualifications__h-sub" ) Capital Juniour College
              p( class="p list-qualifications__p" ) Bengalur, India 2016-2020