section( class="services" )
  div( class="container-fluid services__container" )
    div( class="row services__row" )
      div( class="col-12 col-lg-2 services__col" )
        h2( class="h h--2 services__h" ) Services
      div( class="col-12 col-md-10 col-lg-9 col-xxl-7 services__col" )
        ul( class="services__list list-services" )
          li( class="list-services__item" )
            h3( class="h h--3 list-services__h" ) Product Design
          li( class="list-services__item" )
            h3( class="h h--3 list-services__h" ) Webflow
          li( class="list-services__item" )
            h3( class="h h--3 list-services__h" ) Branding
          li( class="list-services__item" )
            h3( class="h h--3 list-services__h" ) Php Development
          li( class="list-services__item" )
            h3( class="h h--3 list-services__h" ) Visual &amp; UI Design
