include ../../_ui/svg/svg.pug
include ../../_ui/navigation/navigation.pug

header( class="header" )
  div( class="container-fluid header__container" )
    div( class="row header__row" )
      div( class="col-2 header__col header__col--one" )
        a( class="header__logo-link", href="index.html" aria-label="Home page" )
          +svg( 'logo', 'header__logo-img', '0 0 106 26' )
      div( class="col-10 header__col header__col--two" )
        button( class="burger header__burger", id="burger", type="button", aria-expanded="false" )
          span( class="burger__item" )
        nav( class="nav header__nav nav-header", id="header-nav" )
          +navigation( 'nav-header', navList )