section( class="job" )
  div( class="container-fluid job__container hr" )
    div( class="row job__row" )
      div( class="col-md-6 col-lg-5 col-xl-4 job__col" )
        h2( class="h h--2 job__h" ) Worked with top company all over
      div( class="col-md-12 col-lg-7 job__col" )
        ul( class="job__list list-job" )
          li( class="list-job__item" )
            +svg( 'job-1', 'list-job__icon', '0 0 142 29' )
          li( class="list-job__item" )
            +svg( 'job-2', 'list-job__icon', '0 0 137 32' )
          li( class="list-job__item" )
            +svg( 'job-3', 'list-job__icon', '0 0 126 29' )
          li( class="list-job__item" )
            +svg( 'job-4', 'list-job__icon', '0 0 124 26' )
          li( class="list-job__item" )
            +svg( 'job-5', 'list-job__icon', '0 0 137 32' )
          li( class="list-job__item" )
            +svg( 'job-6', 'list-job__icon', '0 0 124 26' )
          li( class="list-job__item" )
            +svg( 'job-7', 'list-job__icon', '0 0 142 29' )
          li( class="list-job__item" )
            +svg( 'job-8', 'list-job__icon', '0 0 126 29' )